.main {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  font-family: Inter;
}

/* Header */

.header {
  max-width: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
  background: #1c5550;
}

.header ul {
  display: flex;
  gap: 84px;
  color: #dfd9d9;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchbox {
  display: flex;
  width: 315px;
  height: 32px;
  padding: 8px 20px 7px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 1.52px 3px 3px -0.8px rgba(0, 0, 0, 0.2) inset,
    0px -0.3px 1px 0px rgba(223, 217, 217, 0.4) inset;
  align-items: center;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("../img/charm_search.png") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

.searchbar {
  color: #91b599;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}
.rightContainer {
  display: flex;
  gap: 32px;
}
.searchicon {
  background-image: url("../img/charm_search.png");
}

.login {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(223, 217, 217, 0.4) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.shoppingcart {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(223, 217, 217, 0.4) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
}

/* Subheader */

.subHeader {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 66px;
  background: #91b599;
}

.subHeader p {
  color: #dfd9d9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  /* border-right: 1px solid #d9d9d9; */
}

.subHeaderP::before {
  content: "";
  border-left: 2px solid #d9d9d9;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  padding-left: 63px;
}

.subHeader p::after {
  content: "";
  background-image: url("../img/basil_arrow-right-outline.png");
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 8px;
}

/* Section 1 */

.section1 {
  top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #1c5550;
  gap: 20px;
  padding-top: 64px;
}

.leftNav {
  width: 320px;
  height: 520px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset,
    0px -1px 4px 0px rgba(223, 217, 217, 0.4) inset;
  margin: auto;
  padding: 38px 40px;
}

.leftNav H3 {
  color: #c3b97f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  padding-bottom: 16px;
}

.livingRoomUl {
  padding-bottom: 41px;
}

.livingRoomUl li {
  color: #91b599;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  padding: 3px 10px;
}

.livingRoomUl li:first-child {
  color: #91b599;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
  text-decoration: underline;
  text-underline-offset: 5px;
}

.dropdown {
}

.dropdown li {
  color: #c3b97f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 168.75% */
  /* text-decoration: underline; */
}

.dropdown li::after {
  content: "";
  background-image: url("../img/iconamoon_arrow-down-2.svg");
  width: 16px;
  height: 16px;
  float: right;
  background-repeat: no-repeat;
}

.dropdownLi::before {
  content: "";
  border-bottom: 1px solid#C3B97F;
  display: inline-block;
  width: 240px;
}

.midsection {
  display: grid;
  gap: 20px;
}

.addToCart {
  background: #dfd9d9;
  display: inline-flex;
  padding-left: 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 411px;
  width: 100%;
  justify-content: space-between;
}

.addToCartButton {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #c3b97f;
  border: none;
  color: #dfd9d9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22;
  padding-inline: 50px;
}

.rightsection {
  display: grid;
  gap: 20px;
  padding-left: 20px;
}

.rightSectionImage {
  background: lightgray 50%;
}

/* subscetion 1 2 */
.subSection2 {
  max-width: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 0 25px 25px;
  background: #1c5550;
}

.subSection2 h2 {
  color: #dfd9d9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

/* Section 2 */
.section2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 10px;
  background: #1c5550;
  color: white;
  padding-inline: 20px;
  padding-bottom: 30px;
}

.collectionCards {
  display: grid;
  gap: 10px;
}

.collectionCards p {
  color: #dfd9d9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.collectionAddToCart {
  background: #dfd9d9;
  display: inline-flex;
  padding-left: 8px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.collectionAddToCart p {
  color: #1c5550;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.s2AddToCartButton {
  display: flex;
  background: #c3b97f;
  border: none;
  height: 40px;
  padding: 9px 8px 9px 10px;
  justify-content: center;
  align-items: center;
  color: #dfd9d9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}
